SERVER_PORT=
SERVER_MODE=

LOG_LEVEL=
LOG_FILE=
CONSOLE_OUTPUT=

RATE_LIMIT=
RATE_lIMIT_BURST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

RDB_PORT=
RDB_ADDRESS=
RDB_PASSWORD=
RDB_NUMBER=

BUCKET_REGION=
BUCKET_ACCESS_key=
BUCKET_SECRET_key=
BUCKET_ENDPOINT=

TAXPAYER_CERTIFICATE_BUCKET_NAME=
OFFICIAL_NEWSPAPER_AD_BUCKET_NAME=
PROFILE_PIC_BUCKET_NAME=
LOGO_PIC_BUCKET_NAME=
NEWS_MEDIA_BUCKET_NAME=

OTP_LENGTH=
OTP_EXPIRY_MINUTES=
OTP_MAX_ATTEMPTS=

SMS_GATEWAY_API_KEY=

GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

EMAIL_PAT=

DEFAULT_PAGE=
DEFAULT_PAGE_SIZE=

WRITE_TIMEOUT=
READ_TIMEOUT=
PING_PERIOD=
MAX_MESSAGE_SIZE=
MESSAGE_BUFFER_SIZE=

EMAIL_FROM=
EMAIL_PASSWORD=
SMTP_HOST=
SMTP_PORT=

SUPER_ADMIN_FIRST_NAME=
SUPER_ADMIN_LAST_NAME=
SUPER_ADMIN_PHONE=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NATIONAL_CODE=

AMQP_USER=
AMQP_PASSWORD=
AMQP_HOST=
AMQP_PORT=
AMQP_VHOST=
AMQP_MAX_RETRY=
AMQP_RETRY_DELAY=

RECAPTCHA_SECRET=
RECAPTCHA_SITE=

MQTT_BROKER=
MQTT_PORT=
MQTT_CLIENT_ID=
MQTT_USERNAME=
MQTT_PASSWORD=